.contact {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  &__image {
    &__1 {
      width: 100%;
    }
  }
  &__personal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__location {
      &__1 {
        color: $lightBrown;
      }
    }
    &__age {
      &__1 {
        color: $lightBrown;
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    &__mail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 9px;
      &__address {
        color: $textBrown;
        text-decoration: underline dotted $lightBrown;
      }
    }
    &__figma {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__address {
        margin-top: auto;
        margin-bottom: auto;
        color: $textBrown;
        text-decoration: underline dotted $lightBrown;
      }
      &__icon {
        height: 40px;
        justify-content: center;
        align-items: center;
      }
    }
    &__github {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__address {
        margin-top: auto;
        margin-bottom: auto;
        color: $textBrown;
        text-decoration: underline dotted $lightBrown;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .contact {
    margin-left: auto;
    margin-right: auto;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      &__1 {
        width: 70%;
        height: auto;
      }
    }
  }
}
