.intro {
    display: grid;
    grid-template-columns: calc((calc(100vw / 2)) / 10) calc((calc(100vw / 2)) / 5) calc((calc(100vw / 2)) / 2) calc((calc(100vw / 2)) / 5) ;
    grid-template-rows: 100px 90px 140px 140px 80px 40px 80px 130px ;
    &__title {
        grid-column: 1 / 4;
        grid-row: 1;
        margin-left: 50px;
        place-content: center;
    }
    &__1 {
        grid-column: 2 / 4;
        grid-row: 2;
    }
    &__2 {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
    &__arrow1 {
        grid-column: 4;
        grid-row: 4;
    }
    &__3 {
        grid-column: 3 / 5;
        grid-row: 5 / 6;
    }
    &__arrow2 {
        grid-column: 2;
        grid-row: 6 / 7;
    }
    &__4 {
        grid-column: 2 / 4;
        grid-row: 8;
    }
    &__highlight {
        background-color: $highlight;
    }
}