.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    &__arrow_1_part1 {
      width: 300px;
      margin-left: 300px;
    }
  
    &__arrow_1_part2 {
      width: 120px;
      margin-top: -30px;
      margin-right: 400px;
      margin-bottom: 50px;
    }
  
    &__arrow_2_part1 {
      width: 120px;
      margin-left: 400px;
      margin-bottom: 40px;
    }
  
    &__arrow_2_part2 {
      width: 200px;
      margin-right: 500px;
      margin-top: 20px;
    }
  
    &__arrow_3_part1 {
      width: 150px;
      margin-left: 300px;
      margin-bottom: 50px;
    }
  
    &__arrow_3_part2 {
      width: 150px;
      margin-right: 300px;
      margin-bottom: -50px;
    }
  
    &__arrow_4 {
      width: 300px;
      margin-bottom: 100px;
    }
  
    &__question {
      margin-top: -70px;
    }
  
    &__arrow2 {
      width: 150px;
    }
  
    &__title {
      margin-top: -60px;
    }
  }
  