@font-face {
  color: #6D614E;
  font-family: "mainTitle";
  src: url("../assets/Myfont-Regular.ttf");
}
@font-face {
  color: #464638;
  font-family: "mainMenu";
  font-weight: lighter;
  src: url("../assets/Mynewfont-Regular.ttf");
}
@font-face {
  color: #3D362B;
  font-family: "mainText";
  src: url("../assets/Mynewfont-Regular.ttf");
}
.home {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../assets/background.png");
  background-color: #F3F3F0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.home__title {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
}
.header__background {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  z-index: 1;
}
.header__menu__button {
  cursor: pointer;
  text-decoration: none;
  height: 40px;
  width: 80px;
}
.header__menu__button.active {
  -webkit-text-decoration: underline wavy #6D614E 2px;
          text-decoration: underline wavy #6D614E 2px;
}

.about {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.about__intro {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about__lists {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  display: grid;
  grid-template-columns: 5vw 10vw 25vw 10vw;
  grid-template-rows: 100px 90px 140px 140px 80px 40px 80px 130px;
}
.intro__title {
  grid-column: 1/4;
  grid-row: 1;
  margin-left: 50px;
  place-content: center;
}
.intro__1 {
  grid-column: 2/4;
  grid-row: 2;
}
.intro__2 {
  grid-column: 2/4;
  grid-row: 3/4;
}
.intro__arrow1 {
  grid-column: 4;
  grid-row: 4;
}
.intro__3 {
  grid-column: 3/5;
  grid-row: 5/6;
}
.intro__arrow2 {
  grid-column: 2;
  grid-row: 6/7;
}
.intro__4 {
  grid-column: 2/4;
  grid-row: 8;
}
.intro__highlight {
  background-color: rgba(109, 97, 78, 0.3);
}

.contact {
  display: flex;
  flex-direction: column;
  max-width: 330px;
}
.contact__image__1 {
  max-width: 330px;
}
.contact__personal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact__personal__location__1 {
  color: #6D614E;
}
.contact__personal__age__1 {
  color: #6D614E;
}
.contact__links__mail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 9px;
}
.contact__links__github {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact__links__github__address {
  margin-top: auto;
  margin-bottom: auto;
  color: #3D362B;
}

.skills {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 80px 40px 80px 40px 50px;
  justify-content: center;
}
.skills__arrow_1_part1 {
  grid-column: 2/3;
  grid-row: 1;
}
.skills__arrow_1_part2 {
  grid-column: 1;
  grid-row: 3/4;
}
.skills__title {
  grid-column: 2/4;
  grid-row: 5;
}
.skills__question {
  grid-column: 1/3;
  grid-row: 2;
  place-self: center;
}

.courses {
  display: grid;
  grid-template-columns: 150px 200px 250px;
  grid-template-rows: 80px 60px 80px 80px;
  justify-content: center;
}
.courses__arrow_2_part1 {
  grid-column: 3/5;
  grid-row: 1;
}
.courses__arrow_2_part2 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.courses__title {
  grid-column: 2/4;
  grid-row: 4;
  place-content: end;
}
.courses__question {
  grid-column: 2/5;
  grid-row: 2;
  place-content: center;
}

.hobby {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 80px 80px 80px 40px 50px;
  justify-content: center;
}
.hobby__arrow_3_part1 {
  grid-column: 2;
  grid-row: 1;
}
.hobby__arrow_3_part2 {
  grid-column: 1;
  grid-row: 3/4;
}
.hobby__title {
  grid-column: 1/3;
  grid-row: 5;
  place-self: center;
}
.hobby__question {
  grid-column: 1/3;
  grid-row: 2;
  place-self: center;
}

.more {
  display: grid;
  grid-template-columns: 200px 300px 200px;
  grid-template-rows: 80px 80px 80px 80px;
  justify-content: center;
}
.more__arrow_4 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.more__question {
  grid-column: 2/4;
  grid-row: 3;
  place-self: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.list__title {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.list__divider {
  width: 100%;
  margin: 0 auto;
  border: none;
  height: 2px;
  color: #6D614E;
  background-color: #6D614E;
  margin-bottom: 20px;
}
.list__list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
}
.list__list__item {
  padding: 10px 15px;
  width: 150px;
}

.hobbies {
  display: grid;
  grid-template-columns: 28vw 8vw 20vw 24vw;
  grid-template-rows: 60px 160px 120px 220px 50px 90px 90px 90px 230px;
  justify-content: center;
  margin-top: 50px;
}
.hobbies__painting {
  grid-column: 1;
  grid-row: 1/4;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  justify-self: stretch;
  align-self: stretch;
}
.hobbies__painting__text {
  grid-column: 2/4;
  grid-row: 2;
}
.hobbies__running {
  grid-column: 2/4;
  grid-row: 3/5;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  justify-self: stretch;
  align-self: stretch;
  margin-right: 30px;
}
.hobbies__running__text {
  grid-column: 4;
  grid-row: 3;
  place-self: end;
}
.hobbies__reading {
  grid-column: 1;
  grid-row: 5/9;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  justify-self: stretch;
  align-self: stretch;
}
.hobbies__reading__text {
  grid-column: 2/4;
  grid-row: 6;
  place-self: center;
}
.hobbies__knitting {
  grid-column: 2/4;
  grid-row: 7/10;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  justify-self: stretch;
  align-self: stretch;
  margin-right: 30px;
}
.hobbies__knitting__text {
  grid-column: 4;
  grid-row: 8;
  place-self: center;
}

.menu__list {
  list-style: none;
}
.menu__list__item {
  text-decoration: none;
  color: #464638;
}

.projects {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-y: scroll;
}
.projects__menu {
  position: absolute;
}
.projects__list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
  right: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "mainText";
  font-size: 20px;
  scroll-behavior: smooth;
  background-image: url("../assets/background.png");
  background-color: #F3F3F0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

button, h2 {
  margin: 0;
  padding: 0;
  font-family: "mainMenu";
  font-size: 24px;
  background: none;
  border: none;
  color: #464638;
}

h1 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "mainTitle";
  font-size: 64px;
  color: #6D614E;
  font-weight: normal;
}/*# sourceMappingURL=main.css.map */