@import './colorsAndFonts';
@import './home/home';
@import './components/header';
@import './about/about';
@import './components/intro';
@import './components/contact';
@import './components/title';
@import './components/list';
@import './components/hobbies';
@import './components/menu';
@import './projects/projects';

html,body {
	margin:0;
	padding:0;

    font-family: 'mainText';
	font-size: 20px;
    scroll-behavior: smooth;
    background-image: url('../assets/background.png');
    background-color: $background;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}

button, h2 {
	margin:0;
	padding:0;
	font-family: 'mainMenu';
	font-size: 24px;
    background: none;
    border: none;
    color: $darkBrown;
}

h1 {
    margin:0;
	padding:0;
    overflow: hidden;
    font-family: 'mainTitle';
	font-size: 64px;
    color: $lightBrown;
    font-weight: normal;
}