.projects {
    display: flex;
    height: 100vh; 
    width: 100%;
    max-width: 100vw;
    overflow-y: scroll;
    &__list {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 5%;
        right: 0;
        max-width: 70%;
    }
}