.yuki {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    row-gap: 10px;
    grid-auto-rows: auto;
    margin-top: 100px;
    &__title {
        grid-column: 1;
        grid-row: 1;
    }
    &__desc {
        grid-column: 1;
        grid-row: 2;
        margin: 20px 0 20px 0;
    }
    &__desct {
        grid-column: 1;
        grid-row: 3;
    }
    &__screenimg {
        grid-column: 2;
        grid-row: 2 / 4;
        max-width: 100%;
        max-height: 400px;
        object-fit: contain;
        border-radius: 5px;
        place-self: center;
    }
    &__process {
        grid-column: 1;
        grid-row: 4;
        margin: 20px 0 20px 0;
    }
    &__processt {
        grid-column: 1 / 3;
        grid-row: 5;
    }
    &__design {
        grid-column: 1;
        grid-row: 6;
        margin: 20px 0 20px 0;
    }
    &__colour {
        grid-column: 1;
        grid-row: 7;
        margin: 20px 0 20px 0;
    }
    &__paletteimg {
        grid-column: 1;
        grid-row: 8;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
    &__typography {
        grid-column: 2;
        grid-row: 7;
        margin: 20px 0 20px 0;
    }
    &__fontimg {
        grid-column: 2;
        grid-row: 8;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 5px;
        place-self: center;
    }
    &__prototype {
        grid-column: 1;
        grid-row: 9;
        margin: 20px 0 20px 0;
    }
    &__mobileimg {
        grid-column: 1;
        grid-row: 10 / 12;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
    &__menuimg {
        grid-column: 2;
        grid-row: 10;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
    &__tabletimg {
        grid-column: 2;
        grid-row: 11;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
    &__tools {
        grid-column: 1;
        grid-row: 12;
        margin: 20px 0 20px 0;
    }
    &__toolst {
        grid-column: 1;
        grid-row: 13;
        margin: 20px 0 20px 0;
    }
    &__reflection {
        grid-column: 2;
        grid-row: 12;
        margin: 20px 0 20px 0;
    }
    &__reflectiont {
        grid-column: 2;
        grid-row: 13;
        margin: 20px 0 20px 0;
    }
}
